.blog-container {
  padding: 2rem;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

form {
  display: grid;
  width: 80%;
  margin: auto;
  padding: 1rem;
}

form input {
  width: 100%;
  height: 3rem;
  border-radius: 1rem;
  border: none;
}

form input[type="search"] {
  padding-left: 1rem;
}

span#block {
  position: relative;
}

form button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  border: none;
  border-radius: 0 1rem 1rem 0;
  background-color: var(--blue-dark);
  color: white;
}

.blogs {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  place-content: center;
  margin: auto;
  gap: 2rem;
 
}

@media (max-width: 1000px) {
  .blogs {
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
  }

  
}

@media (max-width: 800px) {
  form {
    display: grid;
    width: 100%;
  }
  form input {
    display: grid;
    width: 100%;
  }
}



@media (max-width: 700px) {
 
  .blogs 
  {  
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 1rem;
  }

  .blogs div 
  {
    margin-bottom: 1.5rem;

  }
}

@media (max-width: 600px) {

  .blogs 
  {  
   
   gap: .5rem;
   width: 100%;
  }
}
